.App {
  text-align: center;
  background-color: aliceblue;
  margin-top:2rem;
}
.line{
  margin-top:20px;
  height:2px;
  background-color: black;
}
.title{
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-variant: normal;
  font-weight: bolder;
  font-size: xx-large; 
}

.label{
  font-size:30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.background{
  background-color: aliceblue;
}

.input{
  width:10cm;
  text-align: center;
  height:30px
}

.submit{ 
  width: 15ch;
  margin-left:20px;
  height:40px;
  background-color: darkgreen;
  font-style: bold;

}

.edit{
  height:40px;
  margin-left:20px;
  width:15ch;
  background-color:yellow;
  font-style: bold;
}

.delete{
  margin-left: 20px;
  height: 40px;
  width:15ch;
  background-color: tomato;
  font-style: bold;
}

.getdata{
  margin-left:18px;
  margin-top: 10px;
  width:15ch;
  height:40px;
  background-color:rgb(214, 221, 109);
  font-style: bold;
}
.list{
  margin-left:11cm;
  margin-top: 2px;
  width:30ch;
  text-align:center;
  border: 0.5px solid;
}
 .table{
   border:2px solid black
 }
 .tr{
   border:1px solid black
 }


 .input-tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  background: #85A3BF;
  border-radius: 2px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}

.skill-input{
  text-align: center;
  border: 2px solid;
  height:4ch;
}


.done{
align-items: center;
appearance: none;
cursor: pointer;
justify-content: center;
margin-left: 8px;
padding: 0;

}

